[user]
  email = clement.bethuys@gmail.com
  name = Clément Bethuys
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  lo = log --oneline
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
  ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
  theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
[core]
  editor = vim
  pager = less
  excludesfile = /Users/clement/.gitignore_global
[push]
  default = simple
[http]
  sslVerify = false
#[branch]
#  autosetuprebase = always
[diff]
  algorithm = minimal
[merge]
	tool = p4merge
#[difftool "sourcetree"]
#	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.3/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[rerere]
	enabled = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "p4merge"]
	path = /usr/local/bin/p4merge
[pul]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
