[user]
	email = c.bethuys@dental-monitoring.com
	name = Clément Bethuys
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[color "grep"]
	filename = "magenta"
	linenumber = "green"
	match = "red bold"
[alias]
	# Basic Alias
	cp = cherry-pick
	st = status -s
	cl = clone
	ci = commit
	co = checkout
	br = branch

	# Diff
	diff = diff --word-diff
	dc = diff --cached
	fl = log -u
  lc  = "!f() { git ll "$1"^.."$1"; }; f"
	dr  = "!f() { git diff "$1"^.."$1"; }; f"
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# Stash
	sl = stash list
	sa = stash apply
	ss = stash save

	# Logs
	lo = log --oneline
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	glg = log --stat --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	# Tags
	lt = describe --tags --abbrev=0

	# Assume
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"

	# Merge
	ours = "!f() { git co --ours $@ && git add $@; }; f"
	theirs = "!f() { git co --theirs $@ && git add $@; }; f"

	# Search
  rg = "grep --heading --break -i"

[grep]
	lineNumber = true
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=1,5 -RFX
	excludesfile = /Users/clement/.gitignore_global
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[push]
	default = simple
	followTags = true
[diff]
	algorithm = minimal
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[rerere]
	enabled = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
